language: node_js
node_js:
  - "8"
dist: trusty
sudo: false
install:
  - npm install
script:
  - npm run lint
  - npm run build
  - npm test
branches:
  only:
  - gh-pages
  - /.*/
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  on:
    branch: master
  local-dir: ./demo